<div class="page-content">
  <div class="content-block-title">
    Navegación
  </div>
  <div class="list-block">
    <ul>
      <li>
        <a ui-sref="app.locat">asdfasd</a>
        <a ui-sref="app.locat" class="item-link item-content">
          <span class="item-title">
            Ubicaciones
          </span>
        </a>
      </li>
      <li>
        <a href="" class="item-link item-content">
          <span class="item-title">
            Atracciones
          </span>
        </a>
      </li>
      <li>
        <a href="" class="item-link item-content">
          <span class="item-title">
            Contacto
          </span>
        </a>
      </li>

    </ul>
  </div>
</div>